
AikoSPVision/.idea/appInsightsSettings.xml
AikoSPVision/.idea/compiler.xml
AikoSPVision/.idea/deploymentTargetSelector.xml
AikoSPVision/.idea/gradle.xml
AikoSPVision/.idea/kotlinc.xml
AikoSPVision/.idea/migrations.xml
AikoSPVision/.idea/misc.xml
AikoSPVision/.idea/vcs.xml
AikoSPVision/.idea/inspectionProfiles/Project_Default.xml
AikoSPVision/secrets.properties
